<div class="mat-app-background basic-container" class="mat-elevation-z8">

  <table mat-table [dataSource]="activeTrainingsArray">

    <ng-container matColumnDef="mentor-name">
      <th mat-header-cell *matHeaderCellDef>Mentor Name</th>
      <td mat-cell *matCellDef="let element">{{element.mentorFullName}}</td>
    </ng-container>

    <ng-container matColumnDef="training-name">
      <th mat-header-cell *matHeaderCellDef>Training Cost</th>
      <td mat-cell *matCellDef="let element">{{element.trainingName}}</td>
    </ng-container>

    <ng-container matColumnDef="training-cost">
      <th mat-header-cell *matHeaderCellDef>Training Cost</th>
      <td mat-cell *matCellDef="let element">{{element.trainingCost}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
