<div id="users-table" class="mat-app-background basic-container" matSort class="mat-elevation-z8">

  <mat-form-field id="filter-table">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="usersArray">

    <ng-container matColumnDef="user-email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="user-first-name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="user-last-name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="user-active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
      <td mat-cell *matCellDef="let element">{{element.active}}</td>
    </ng-container>

    <ng-container matColumnDef="user-type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User Type</th>
      <td mat-cell *matCellDef="let element">{{element.userType}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
