<div class="container-fluid">
  <mat-card *ngIf="trainingProposals.length > 0">Training Proposals:</mat-card>
  <div *ngFor="let elem of trainingProposals">
  <div class="row">
    <div class="col-md-12">
      <mat-card>{{elem.trainingName}} proposed by {{elem.userEmail}} <button mat-raised-button (click)="acceptTraining(elem)">Accept Proposal</button></mat-card>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
  <div *ngIf="trainingProposals.length == 0">
    <h4>No Proposals at this time!</h4>
  </div>
</div>
