<div id="trainings-table" class="mat-app-background basic-container" matSort class="mat-elevation-z8">

  <mat-form-field id="filter-table">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="trainingsArray">

    <ng-container matColumnDef="mentor-name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mentor Name</th>
      <td mat-cell *matCellDef="let element">{{element.mentorFullName}}</td>
    </ng-container>

    <ng-container matColumnDef="technologies">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Technologies</th>
      <td mat-cell *matCellDef="let element">{{element.technologiesList}}</td>
    </ng-container>

    <ng-container matColumnDef="training-name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Training Cost</th>
      <td mat-cell *matCellDef="let element">{{element.trainingName}}</td>
    </ng-container>

    <ng-container matColumnDef="training-cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Training Cost</th>
      <td mat-cell *matCellDef="let element">{{element.trainingCost}}</td>
    </ng-container>

    <ng-container matColumnDef="propose">
      <th mat-header-cell *matHeaderCellDef >Propose</th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="snackbarProposed(element)">Propose Training</button></td>
    </ng-container>

    <ng-container matColumnDef="showDetails">
      <th mat-header-cell *matHeaderCellDef >Details</th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="openTrainingDetails(element)">Click for more details</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

