<div *ngIf="mentorDetails">
  <mat-card>Mentor Details:</mat-card>

  <mat-card>Email: {{mentorDetails.email}}</mat-card>
  <mat-card>First Name: {{mentorDetails.firstName}}</mat-card>
  <mat-card>Last Name: {{mentorDetails.lastName}}</mat-card>
  <mat-card>Contact Number: {{mentorDetails.contactNumber}}</mat-card>
  <mat-card>TimeZone: {{mentorDetails.timeZone}}</mat-card>
  <mat-card>Technologies: {{mentorDetails.technologiesList}}</mat-card>
  <mat-card>LinkedIn URL: {{mentorDetails.linkedInUrl}}</mat-card>
  <mat-card>Years of experience: {{mentorDetails.yearsOfExperience}}</mat-card>

</div>
